<%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
        <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <article>
    <%= label_tag(:amount, 'Amount:') %>
    <span id="total_amount"><%= @image.price %></span>
  </article>
  <%= hidden_field_tag 'image_id', @image.id %>
  <%= hidden_field_tag 'price', @image.price %>

  <script src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Buy the selected image"
          data-amount="<%= @image.price * 100 %>"
          data-locale="auto"></script>
<% end %>
